/* -------------------------------
   頁面主要結構
-------------------------------- */
.main_page {
    padding-top: 30px;
}

.forget_field {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .header_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding-top: 15px;

        .description {
            font-family: 'Noto Sans TC';
            font-weight: 400;
            font-size: 18px;
            line-height: 25.2px;
            color: #808080;
        }

        & p {
            font-size: 26px;
            line-height: 36.4px;
        }
    }

    .data_group {
        padding-top: 6px;

    /*
        .label_part {
             如果有需要額外設計再加進來 
        }
    */

        .input_part {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .readonly-bg {
                background-color: #F0F5F8;
                cursor: not-allowed;
                color: #003E6A;
            }

            .update_status_hint {
                display: flex;
                align-items: center;
                gap: 4px;
                width: 100%;

                &.success {
                    color: #59B058;
                }

                &.warn {
                    color: #838383;
                }

                &.fail {
                    color: #DA0606;
                }

                .hidden {
                    display: none;
                }

                & p {
                    font-family: 'Noto Sans TC';
                    font-weight: 450;
                    font-size: 14px;
                    line-height: 16.8px;
                    margin-left: 2px;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
}

/* -------------------------------
   按鈕區塊
-------------------------------- */
.btn_field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    > p {
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        letter-spacing: 0.02em;
        color: #838383;
    }

    a {
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        letter-spacing: 0.02em;
        text-decoration: underline;
        color: #223B86;
    }

    span {
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 12px;
        line-height: 16.8px;
        letter-spacing: 0.04em;
        color: #505050;
    }
}

/* -------------------------------
   補充結構（可選）
-------------------------------- */
.customer_select_field.phone_code {
    width: 81px;
}

/* -------------------------------
   RWD - 響應式
-------------------------------- */
@media (max-width: 767px) {

    .forget_field .header_section p {
        font-size: 24px;
        line-height: 33.6px;
    }

    .btn_field .media_btn {
        padding: 12px 24px;
    }
}
