.form_field {
    gap: 32px;

    .header_section {
        text-align: center;
    
        & p {
            font-size: 26px;
            line-height: 36.4px;
        }
    }
}

.media_btn {
    margin-top: 16px;
    padding: 12px 24px;
}

.data_group .input_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    .update_status_hint:first-of-type {
        margin-top: 6px; 
    }

    .update_status_hint {
        display: flex;
        gap: 4px;
        align-items: center;

        & p {
            font-family: Noto Sans TC;
            font-weight: 400;
            font-size: 12px;
            line-height: 16.8px;
            letter-spacing: 0.06em;
        }

        &.success {
            color: #59B058;
        }

        &.warn {
            color: #838383;
        }

        &.fail {
            color: #DA0606
        }

        .hidden {
            display:none;
        }
    }

    .readonly-bg {
        background-color:  #F0F5F8;;
        cursor: not-allowed;
        font-family: Noto Sans TC;
        letter-spacing: 0.02em;
        color: #003E6A;
    }
}



